@charset "UTF-8";
.head1{
    margin: 0;
    padding: 20px 40px 0px 40px;
    top:0px;
    color: #5c3e28;
    height: 40px;
    font-size: 30px;
    background-color: #fffcdc;
    font-family: 'Noto Sans JP';
}
.head2{
    border-bottom: 2px solid #016171;
    background-color: #fffcdc;
    padding: 0px 40px 20px 40px;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 20px;
}
.page{
    margin: 0;
    display: inline-block;
    width: 100px;
    color: #73553f;
    text-align: center;
    font-size: 20px;
    text-decoration-line: none;
    padding: 8px 0px;
    font-family: 'Noto Sans JP';
}
.page.active{
    font-weight:900;
    color: #463833;
}
.page:hover{
    color: #ffe793;
}
.pages{
    border-bottom :2px solid #016171;
}

.olink{
    color:royalblue;
    font-weight: bold;
}
.piccontainer{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.picgroup{
    font-size: 25px;
    font-weight: bold;
    color: #5c3e28;
    padding-bottom: 15px;
    text-align: center;
    width: 300px;
}
.picgroup2{
    font-size: 20px;
    font-weight: bold;
    color: #5c3e28;
    padding-bottom: 15px;
    text-align: center;
    width: 300px;

}
.TopLink{
    color: #5c3e28;
    font-size: 25px;
    padding-top: 0;
}
footer{
    border-top: 1px solid #016171;
    background-color: #e9ded7;
    text-align: center;
}
.copyright{
    font-size: 12px;
    text-align: center;
    padding-top: 0;
    height: 50px;
}

.main{
    margin-left: 40px;
}
